- content_for :title, t(".meta_title")

= render "pages/home/hero"
= render "pages/home/how_it_works"
- unless on_prem_deployment?
  = render "pages/home/plans"
= render "pages/home/faq"
= render "pages/home/cta"
